/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * BatallaDeCoronas implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * batalladecoronas.css
 *
 * BatallaDeCoronas stylesheet
 *
 */

.boc_gameArea {
  --tokenSize: 80px;
}

.boc_gameArea *:not(.stockitem) {
  box-sizing: border-box;
}

.boc_bg_contain {
  background-size: contain;
}

.boc_columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_dice {
  gap: 8px;
}

.boc_die {
  background-image: url("img/dice.png");
  background-position: -500% 0;
  height: 60px;
  width: 60px;
}

.boc_die_rolled {
  animation: diceRoll ease 1s;
}

.boc_face_1 {
  background-position: 0 0;
}
.boc_face_2 {
  background-position: -100% 0;
}
.boc_face_3 {
  background-position: -200% 0;
}
.boc_face_4 {
  background-position: -300% 0;
}
.boc_face_5 {
  background-position: -400% 0;
}
.boc_face_6 {
  background-position: -500% 0;
}

.boc_supply-dice {
  gap: 32px;
}

.boc_unactiveCouncil {
  margin: 0 auto;
}

.boc_castles {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 740px);
  gap: 4px;
}

.boc_castle {
  position: relative;
  background-image: url("img/castle.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 962px;
  width: 720px;
}

.boc_power {
  position: absolute;
  top: 325px;
  left: 255px;
  width: 250px;
}

.boc_gem:nth-child(2) {
  margin-left: -32px;
}

.boc_gem:nth-child(3) {
  margin-left: -16px;
  margin-top: -32px;
}

.boc_attack {
  position: absolute;
  top: 280px;
  left: 50px;
  height: 150px;
  width: 215px;
}

.boc_attack > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_sword_1 {
  left: 80px;
}
.boc_sword_2 {
  left: 160px;
}
.boc_sword_3 {
  top: 70px;
}
.boc_sword_4 {
  top: 70px;
  left: 80px;
}
.boc_sword_5 {
  top: 70px;
  left: 160px;
}

.boc_defense {
  position: absolute;
  top: 280px;
  right: 80px;
  height: 150px;
  width: 215px;
}

.boc_defense > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_shield_1 {
  left: 80px;
}
.boc_shield_2 {
  left: 160px;
}
.boc_shield_3 {
  top: 70px;
}
.boc_shield_4 {
  top: 70px;
  left: 80px;
}
.boc_shield_5 {
  top: 70px;
  left: 160px;
}

.boc_church {
  position: absolute;
  top: 465px;
  left: 170px;
}

.boc_church > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_clergy_GOLDEN {
  left: 78px;
}
.boc_clergy_BLUE {
  left: 150px;
}
.boc_clergy_RED {
  left: 225px;
}

.boc_treasure {
  position: absolute;
  top: 565px;
  left: 56px;
}

.boc_treasure > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_treasure_-1 {
  top: 16px;
}
.boc_treasure_0 {
  top: 8px;
  left: 64px;
}
.boc_treasure_1 {
  top: 4px;
  left: calc((64px + 0.5px * 1) * 2);
}
.boc_treasure_2 {
  top: 4px;
  left: calc((64px + 0.5px * 2) * 3);
}
.boc_treasure_3 {
  left: calc((64px + 0.5px * 3) * 4);
}
.boc_treasure_4 {
  left: calc((64px + 0.5px * 4) * 5);
}
.boc_treasure_5 {
  top: 4px;
  left: calc((64px + 0.5px * 5) * 6);
}
.boc_treasure_6 {
  top: 4px;
  left: calc((64px + 0.5px * 6) * 7 - 4px);
}
.boc_treasure_7 {
  top: 16px;
  left: calc((64px + 0.5px * 6) * 8 - 8px);
}

.boc_dragon {
  position: absolute;
  top: 720px;
  left: 90px;
}

.boc_dragon > * {
  position: absolute !important;
  width: 80px;
}

.boc_dragon_1 {
  left: 85px;
}
.boc_dragon_2 {
  left: 170px;
}
.boc_dragon_3 {
  left: 252px;
}
.boc_dragon_4 {
  left: 335px;
}
.boc_dragon_5 {
  left: 430px;
}

/* animations */

@keyframes diceRoll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
