/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * BatallaDeCoronas implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * batalladecoronas.css
 *
 * BatallaDeCoronas stylesheet
 *
 */

.head_warning {
  background-color: yellow;
}

.boc_gameArea {
  --tokenSize: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boc_gameArea *:not(.stockitem) {
  box-sizing: border-box;
}

.boc_logHighlight {
  font-weight: bold;
}

.boc_colorblindCounselor {
  display: none;
}

.boc_bgContain {
  background-size: contain;
}

.boc_colorblind .boc_colorblindCounselor {
  display: block;
  position: absolute;
  left: 32px;
  bottom: 8px;
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
  padding: 0 2px;
  width: max-content;
}

.boc_columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_selectableItem {
  cursor: pointer !important;
  pointer-events: all;
}

.boc_selectableContainer {
  cursor: pointer;
  pointer-events: all;
  border: 3px solid green;
}

.boc_selectableContainer .stockitem {
  cursor: pointer !important;
}

.boc_supply-dice {
  align-items: flex-end;
  gap: 32px;
}

.boc_dice {
  position: relative;
  padding: 0 !important;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  gap: 24px;
  width: 144px;
}

.boc_dieContainer::before {
  font-size: 32px;
  position: relative;
  left: 16px;
  top: 4px;
  z-index: 99;
}

.boc_dieContainer-1::before {
  content: "\2694";
}

.boc_dieContainer-2::before {
  content: "\26E8";
}

.boc_dieContainer.roll::before {
  display: none;
}

.boc_dieStock {
  position: absolute;
  width: 60px;
  z-index: 99;
}

.boc_dieStock > .stockitem {
  background: none !important;
}

.boc_battleDie {
  border: 2px solid white;
  height: 60px !important;
}

.roll .boc_battleDie {
  border: none;
}

.boc_castles {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 740px);
  gap: 4px;
}

.boc_castle {
  position: relative;
  background-image: url("img/castle.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 962px;
  width: 720px;
}

.boc_crownTower {
  position: absolute;
  top: 30px;
  right: 100px;
}
.boc_crossTower {
  position: absolute;
  top: 30px;
  left: 32px;
}
.boc_anvil {
  position: absolute;
  top: 480px;
  left: 500px;
}

.boc_council {
  position: absolute;
  top: 100px;
  left: 115px;
  height: 100px;
  width: 660px;
}

.boc_council > * {
  position: absolute !important;
  width: 100px;
}

.boc_chair_1 {
  left: 0;
}
.boc_chair_2 {
  left: 80px;
}
.boc_chair_3 {
  left: 155px;
}
.boc_chair_4 {
  left: 235px;
}
.boc_chair_5 {
  left: 310px;
}
.boc_chair_6 {
  left: 390px;
}

.boc_selectedCounselor {
  transform: scale(1.2);
}

.boc_selectedToken {
  transform: scale(1.2);
}

[data-selected] {
  border-color: red;
  border-style: dashed;
}

.boc_power {
  position: absolute;
  top: 310px;
  left: 245px;
  width: 250px;
}

.boc_gem:nth-child(2) {
  margin-left: -16px;
}

.boc_gem:nth-child(3) {
  margin-left: -8px;
  margin-top: -16px;
}

.boc_attack {
  position: absolute;
  top: 280px;
  right: 65px;
  height: 160px;
  width: 220px;
}

.boc_attack > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_sword_1 {
  left: 75px;
}
.boc_sword_2 {
  left: 150px;
}
.boc_sword_3 {
  top: 70px;
}
.boc_sword_4 {
  top: 70px;
  left: 75px;
}
.boc_sword_5 {
  top: 70px;
  left: 150px;
}

.boc_defense {
  position: absolute;
  top: 280px;
  left: 55px;
  height: 160px;
  width: 220px;
}

.boc_defense > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_shield_1 {
  left: 75px;
}
.boc_shield_2 {
  left: 150px;
}
.boc_shield_3 {
  top: 70px;
}
.boc_shield_4 {
  top: 70px;
  left: 75px;
}
.boc_shield_5 {
  top: 70px;
  left: 150px;
}

.boc_church {
  position: absolute;
  top: 465px;
  left: 170px;
}

.boc_church > * {
  position: absolute;
  width: 70px;
}

.boc_clergy_GOLDEN {
  left: 80px;
}
.boc_clergy_BLUE {
  left: 154px;
}
.boc_clergy_RED {
  left: 228px;
}

.boc_treasure {
  position: absolute;
  top: 565px;
  left: 56px;
}

.boc_treasure > * {
  position: absolute;
  width: var(--tokenSize);
}

.boc_treasure_-1 {
  top: 16px;
}
.boc_treasure_0 {
  top: 8px;
  left: 64px;
}
.boc_treasure_1 {
  top: 4px;
  left: 129px;
}
.boc_treasure_2 {
  top: 4px;
  left: 195px;
}
.boc_treasure_3 {
  left: 262px;
}
.boc_treasure_4 {
  left: 330px;
}
.boc_treasure_5 {
  top: 8px;
  left: 396px;
}
.boc_treasure_6 {
  top: 12px;
  left: 462px;
}
.boc_treasure_7 {
  top: 20px;
  left: 528px;
}

.boc_rage {
  position: absolute;
  height: 100% !important;
  width: 100%;
}

.boc_rage > .stockitem {
  transform: scale(1.75);
  z-index: 99;
}

.boc_dragon {
  position: absolute;
  top: 720px;
  left: 90px;
  width: 550px;
  height: 100px;
}

.boc_dragon > div {
  position: absolute !important;
  width: 80px;
}

.boc_dragon_1 {
  left: 85px;
  transform: scale(1.15);
}
.boc_dragon_2 {
  left: 170px;
  transform: scale(1.3);
}
.boc_dragon_3 {
  left: 252px;
  transform: scale(1.45);
}
.boc_dragon_4 {
  left: 335px;
  transform: scale(1.6);
}
.boc_dragon_5 {
  left: 430px;
  transform: scale(1.75);
}

/* 
//////////////
//animations//
//////////////
*/

/* die roll */

.boc_dieContainer.roll {
  animation: roll 0.6s 1 linear forwards;
}

@keyframes roll {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Copyright (c) 2024 by Reets (https://codepen.io/reets/pen/RaJJZj) */

.boc_dieAnimation {
  height: 60px;
  width: 60px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30px) rotateX(0deg) rotateY(0deg);
  transform: translateZ(-30px) rotateX(0deg) rotateY(0deg);
}

.boc_face {
  backface-visibility: hidden;
  height: 60px;
  width: 60px;
  position: absolute;
  background: #fff;
  border-radius: 1.2px;
  pointer-events: none;
}

.boc_dot {
  position: absolute;
  background: #000;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  pointer-events: none;
}

.boc_one {
  transform: rotateY(0deg) translateZ(30px);
  transform: rotateY(0deg) translateZ(30px);
}

.boc_two {
  transform: rotateX(180deg) translateZ(30px);
  transform: rotateX(180deg) translateZ(30px);
}

.boc_three {
  transform: rotateY(90deg) translateZ(30px);
  transform: rotateY(90deg) translateZ(30px);
}

.boc_four {
  transform: rotateY(-90deg) translateZ(30px);
  transform: rotateY(-90deg) translateZ(30px);
}

.boc_five {
  transform: rotateX(90deg) translateZ(30px);
  transform: rotateX(90deg) translateZ(30px);
}

.boc_six {
  transform: rotateX(-90deg) translateZ(30px);
  transform: rotateX(-90deg) translateZ(30px);
}

.boc_one .boc_dot,
.boc_three .boc_dot:nth-child(2),
.boc_five .boc_dot:nth-child(5) {
  top: 50%;
  left: 50%;
}

.boc_two .boc_dot:nth-child(1),
.boc_three .boc_dot:nth-child(1),
.boc_four .boc_dot:nth-child(1),
.boc_five .boc_dot:nth-child(1),
.boc_six .boc_dot:nth-child(1) {
  top: 25%;
  left: 25%;
}

.boc_two .boc_dot:nth-child(2),
.boc_three .boc_dot:nth-child(3),
.boc_four .boc_dot:nth-child(4),
.boc_five .boc_dot:nth-child(4),
.boc_six .boc_dot:nth-child(6) {
  top: 75%;
  left: 75%;
}

.boc_four .boc_dot:nth-child(2),
.boc_five .boc_dot:nth-child(2),
.boc_six .boc_dot:nth-child(2) {
  top: 25%;
  left: 75%;
}

.boc_four .boc_dot:nth-child(3),
.boc_five .boc_dot:nth-child(3),
.boc_six .boc_dot:nth-child(5) {
  top: 75%;
  left: 25%;
}

.boc_six .boc_dot:nth-child(3) {
  top: 50%;
  left: 25%;
}

.boc_six .boc_dot:nth-child(4) {
  top: 50%;
  left: 75%;
}

.boc_dieAnimation.roll-1 {
  animation: roll-one 0.75s 1 linear forwards;
}

.boc_dieAnimation.roll-2 {
  animation: roll-two 0.75s 1 linear forwards;
}

.boc_dieAnimation.roll-3 {
  animation: roll-three 0.75s 1 linear forwards;
}

.boc_dieAnimation.roll-4 {
  animation: roll-four 0.75s 1 linear forwards;
}

.boc_dieAnimation.roll-5 {
  animation: roll-five 0.75s 1 linear forwards;
}

.boc_dieAnimation.roll-6 {
  animation: roll-six 0.75s 1 linear forwards;
}

@keyframes roll-one {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-180deg) rotateY(-540deg);
  }
}

@keyframes roll-two {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-360deg) rotateY(-540deg);
  }
}

@keyframes roll-three {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-360deg) rotateY(-450deg);
  }
}

@keyframes roll-four {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-360deg) rotateY(-630deg);
  }
}

@keyframes roll-five {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-450deg) rotateY(-360deg) rotateZ(0deg);
  }
}

@keyframes roll-six {
  0% {
    transform: translateZ(-30px) rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    transform: translateZ(-30px) rotateX(-450deg) rotateY(0deg) rotateZ(-180deg);
  }
}

/* SVG FIRE 
Copyright (c) 2024 by Tahina (https://codepen.io/tahina/pen/WRXNwQ) 
*/

.mo-fire {
  visibility: hidden;
}

.boc_flame > .mo-fire {
  visibility: visible;
  height: 100%;
  width: 100%;
}

#svg-view {
  width: 252px;
  height: 125px;
  left: 0px;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative;
}

.boc_flame .flame {
  animation-name: flameDisappear;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.boc_flame .flame.one {
  animation-delay: 0.25s;
  animation-duration: 0.75s;
}
.boc_flame .flame.two {
  animation-duration: 1.25s;
  animation-delay: 0.25s;
}

.boc_flame .flame-main {
  animation-name: flameMovement;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.boc_flame .flame-main.one {
  animation-duration: 0.55s;
  animation-delay: 0.25s;
}
.boc_flame .flame-main.two {
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}
.boc_flame .flame-main.three {
  animation-duration: 0.525s;
  animation-delay: 0.75s;
}
.boc_flame .flame-main.four {
  animation-duration: 0.8s;
  animation-delay: 1s;
}
.boc_flame .flame-main.five {
  animation-duration: 0.625s;
  animation-delay: 1.25s;
}
@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}
