/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * BatallaDeCoronas implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * batalladecoronas.css
 *
 * BatallaDeCoronas stylesheet
 *
 */

.boc_game_area *:not(.stockitem) {
  box-sizing: border-box;
}

.boc_column_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_row_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.boc_dices {
  gap: 8px;
}

.boc_dice {
  background-image: url("img/dices.png");
  background-position: -500% 0;
  height: 60px;
  width: 60px;
}

.boc_dice_rolled {
  animation: diceRoll ease 1s;
}

.boc_face_1 {
  background-position: 0 0;
}
.boc_face_2 {
  background-position: -100% 0;
}
.boc_face_3 {
  background-position: -200% 0;
}
.boc_face_4 {
  background-position: -300% 0;
}
.boc_face_5 {
  background-position: -400% 0;
}
.boc_face_6 {
  background-position: -500% 0;
}

.boc_supply-dices {
  gap: 32px;
}

.boc_castles {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 740px);
  gap: 4px;
}

.boc_castle {
  position: relative;
  background-image: url("img/castle.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 962px;
  width: 720px;
}

.boc_power {
  position: absolute !important;
  top: 340px;
  left: 305px;
  width: 130px;
}

.boc_gem:nth-child(2) {
  margin-left: -16px;
}

.boc_gem:nth-child(3) {
  margin-left: -8px;
  margin-top: -16px;
}

/* animations */

@keyframes diceRoll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
